
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <button aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarsDefault" data-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a> 
      <div class="collapse navbar-collapse" id="navbarsDefault">
          
          <ul class="nav navbar-nav mr-auto">
              <li class="nav-item ">
                <a class="nav-linkactive"  routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active" href="#" appPopover>Contact</a>
              </li>
            </ul>

           
      </div>
      <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
        <div class="navbar-nav mr-auto">
          <div class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" ngbDropdownToggle>
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>
      </div>
    </nav>

 
